%body
  .side-bar
    .side-header
      .side-header__username seo
      .side-header__icons
        %i.fa.fa-edit.side-header__icons--icon
        %i.fa.fa-cog.side-header__icons--icon
    .groups
      .group
        .group__name サンプルグループチャット1
        .group__message よろしくお願いします。

      .group
        .group__name サンプルグループチャット1
        .group__message よろしくお願いします。

  .chat
    .chat-header
      .left-header
        .left-header__title チャットグループ１
        .left-header__members Member： 誰々
      .right-header
        Edit
    .messages

      .message
        .upper-message
          .upper-message__user-name
            ユーザー名
          .upper-message__date
            ポストされた日付
        .lower-message
          .lower-message__text
            メッセージ

      .message
        .upper-message
          .upper-message__user-name
            ユーザー名
          .upper-message__date
            ポストされた日付
        .lower-message
          .lower-message__text
            メッセージ

      .message
        .upper-message
          .upper-message__user-name
            ユーザー名
          .upper-message__date
            ポストされた日付
        .lower-message
          .lower-message__text
            メッセージ

    .footer
      %form.form{action: "./", method: "get"}
        %input.form__text{type: "text", placeholder: "type a message"}
          .image-button
            %label
              %i.fa.fa-picture-o.fa-lg
              %input.image-button__image{type: "file", name: "img", style: "display: none"}
        %input.form__submit{type: "submit", value: "Send"}
