.wrapper {
  height: 100%;
}
.chat {
  width: calc(100% - 300px);
  height: 100%;
  position: relative;
  float: right;
  background-color: $grassgreen;
}
.chat-header {
  height: 100px;
  padding: 0 40px;
  background-color: $grassgreen;
}

.left-header {
  float: left;
  &__title {
    @include text-format($deepgreen, 20px);
    margin-top: 35px;
  }
  &__members {
    @include text-format($lightgreen, 12px);
    margin-top: 15px;
    &_member{
      display: inline-block;
    }
  }
}
.right-header,.delete-header{
  height: 40px;
  margin: 28px 10px 0 0;
  border: 1px;
  border-style: solid;
  padding: 0 20px;
  line-height: 38px;
  color: $carrotorange;
  border-color: $carrotorange;
  border-radius: 20px 5px;
  float: right;
}

.messages {
  height: calc(100% - 100px - 90px);
  padding: 46px 40px 0;
  border-top: thin solid $color-border-gray;
  background-color: $springgreen;
  overflow: scroll;
}


.footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: $lightorange;
}

.form{
  height: 50px;
  &__text{
    @include text-format($color-small-text-black,);
    height: 50px;
    width: calc(100% - 150px);
    box-sizing: border-box;
    border: none;
    padding: 0 10px;
    float: left;
    border-radius: 20px 0 0 5px;
  }
  &__submit {
    height: 50px;
    padding: 0 30px;
    border-style: none;
    margin-left: 15px;
    color: $bloodred;
    background-color: $persimmonorange;
    border-radius: 20px 5px;
    float: right;
  }
}

.image-button {
  height: 50px;
  padding-right: 10px;
  line-height: 50px;
  background-color: $white;
  float:left;
  border-radius: 0 5px 20px 0;
  &__image {
  }
}
.fa-picture-o {
  color: $persimmonorange;
}
