$color-text-white:#FFFFFF;
$color-light-blue: #38AEF0;
$color-border-gray: #eeeeee;
$color-small-text-black: #434A54;
$darkbrown:#622d18;
$orange: #e5a32f;
$brown: #6c3524;
$leafgreen: #9cbb1c;
$darkgreen: #004d25;
$leafgreen: #9cbb1c;
$grassgreen: #9fc24d;
$deepgreen: #035d2e;
$lightgreen: #d6ecdc;
$carrotorange: #ea5550;
$springgreen: #c9ff93;
$lightorange: #ffbf7f;
$persimmonorange: #ed6d35;
$bloodred: #652828;
$white: #fff;
$spinachgreen: #2c5d2f;
$yellowgreen: #229828;
