$color-text-white:#FFFFFF;
$color-small-text-black: #434A54;
$color-text-gray: #999999;
$color-light-blue: #38AEF0;
$color-border-gray: #eeeeee;
$color-bg-gray: #AAAAAA;
$color-bg-darkblue-darken: #253141;
$color-bg-darkblue: #2f3e51;
$color-large-text-black: #333333;
