@import "./reset";
@import "./mixin";
@import "./variable";
@import "font-awesome";
@import "./flash.scss";
@import "./user.scss";
@import "./group.scss";
@import "./side_bar.scss";
@import "./messages_index";
@import "./groups_index";
@import "./message.scss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}





